@import (inline) "../../node_modules/antd/dist/antd.css";
@import (inline)
  "../../node_modules/react-mosaic-component/react-mosaic-component.css";

html,
body,
#bitsky-retailer-app,
.bitsky-retailer-app {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .monaco-editor-container,
  .monaco-editor {
    width: 100%;
    height: 100%;
  }

  .mosaic-window-no-toolbar .mosaic-window-toolbar {
    display: none;
  }

  .mosaic-show {
    display: block;
  }

  .mosaic-hide {
    display: none;
  }

  .output {
    font-size: 12px;
    font-family: var(--fonts-common);
    font-weight: 600;
    overflow: scroll;
    height: 100%;
    // color: var(--text-color-1);
    // background: var(--background-2);
    // box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.15);
    border-top: var(--border);
    // top: 10vh;
    padding: 10px;
    .log-container{
      padding-bottom: 100px;
    }
    p {
      margin-bottom: 0;
      white-space: pre;
      padding-left: 5.6em;
      text-indent: -5.6em;
    }
    .timestamp {
      margin-right: 5px;
      color: var(--text-color-1);
      opacity: 0.7;
      user-select: none;
    }
  }
}
